# Created by https://www.gitignore.io/api/django
# Documentação Django https://docs.djangoproject.com/en/2.0/ref/models/fields/
### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
/media
/static 
