<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{details.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
<header>
    <div class="container tex-center">
        <img src="{{details.imagem.url}}" />    
        <h2>{{details.title}}</h2>
        <hr>
    </div>
</header>    
<section>
    <h3>{{details.subtitle}}</h3>
    <small>{{details.data_ano}}</small>
</section>
<div class="container">
    <div class="row">
        <p>{{details.body}}</p>
    </div>
</div>
</body>
</html>



